<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="google-site-verification" content="oihpu2D-nORQdMID6KNZVuZsSZqaVj1CQgNhxnfW1pk" />
    <meta name="description" content="This is Xavi Ramirez personal page." />
    <meta name="keywords" content="Xavi Ramirez" />
    <link rel="icon" type="image/png" href="http://www.gravatar.com/avatar/4df1cfae6e8c7fbdb013818785318aa7?s=16" />
    <title>Xavi - #:title:#</title>
    <style>
        #content { display: table; }
        #menu { clear: both; }
    </style>
    #:head:#
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
</head>
<body>
	
<div id="content">
	(: content ~ [: file ~ 404.html :] :)
</div>

<div id="menu">
	(: file ~ ./content/templates/links.html :)
</div>
#:tail:#
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-4384857-1']);
    _gaq.push(['_trackPageview']);
     
    (function() {
        var ga = document.createElement('script');
        ga.src = 'http://www.google-analytics.com/ga.js';
        ga.setAttribute('async', 'true');
        document.documentElement.firstChild.appendChild(ga);
    })();
</script>
</body>
</html>