<h3>Menu</h3>
<ul>
	<li>(: link ~ { "id": "home", "name": "Home", "url": "/" } :)</li>
	<li>(: link ~ { "id": "visual-sort", "name": "Visual Sort", "url": "/visual-sort" } :)</li>
	<li>(: link ~ { "id": "drag-shapes", "name": "Drag Shapes", "url": "/drag-shapes" } :)</li>
	<li>(: link ~ { "id": "articles", "name": "Articles", "url": "/articles" } :)</li>
	<li>(: link ~ { "id": "key-map", "name": "Key Remapper", "url": "/key-remapper" } :)</li>
	<li>(: link ~ { "id": "tv-download", "name": "TV Schedule Downloader", "url": "/tv-schedule-downloader" } :)</li>
	<li>(: link ~ { "id": "about-me", "name": "About Me", "url": "/about-me" } :)</li>
</ul>